.image-container img {
    width: 500px;
}

.car-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 40px 60px;
}

.title-one {
    color: #273c75;
    margin-bottom: 0px;
}

.title-two {
    color: #e74c3c;
    margin-top: 0px;
}

.reviews {
    text-align: center;
    color: #ff793f;
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin: 20px 80px;

}

.reviews-btn {
    text-align: center;
    background-color: #e74c3c;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 17px;
    text-decoration: none;

}

.reviews-btn-container {
    text-align: center;
    margin-bottom: 40px;
}